<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="AudioWarningEnabled" value="1" />
<add key="Culture" value="" />
<add key="HoursToExpireOrder" value="24" />
<add key="Simulate" value="0" />
<add key="SimulateAll" value="2147483647" />
</appSettings>
</configuration>
